.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
    position: fixed
}

.main-menu > li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.main-menu a {
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
    color: #0088cc;
    border-left: 1px solid #e5e5e5;
    text-align: left;
}

.main-menu a:hover {
    background: #f5f5f5;
}

.main-menu .sub-menu {
    position: absolute;
    left: 1px;
    display: none;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
}

.main-menu .sub-menu a {
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

ul {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #555;
    font: 13px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

header {
    font: 16px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #0000;
}
body {
    font: 16px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
h1{
    font: 30px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align:left;
    padding: 0 80px;
}
h2{
    font: 25px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align:left;
    padding: 0 80px;
}
h3{
    font: 18px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-align:left;
    display: inline;
    padding: 0 80px;
}
h4{
    font: 16px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 200%;
    text-align:left;
    display: inline-block;
    padding: 0 40px;
}
main {
  <!--     margin: 0 auto; -->
<!--   width: 100%; -->
    display: block;
    text-align:left;
  <!--    padding: 0 20px; -->
}
article {
    float: left;
    margin-bottom: 30px;
    padding: 15px 0;
    width: 100%;
    overflow: hidden;
}
aside {
    float: right;
    padding-left: 15px;
    width: 15%;
    display: block;
    overflow: hidden;
    position:relative;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    width: 200px;
    margin: 0;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
figure { 
  width: 150px; 
  float: left; 
  margin: 0 100px 0 0; 
  <!-- background: white; -->
  border: 10px solid white; 
  -moz-box-shadow: 0 3px 10px #ccc;
  -moz-transform: rotate(5deg);
  -webkit-transition: all 0.7s ease; 
  -moz-transition: all 1s ease;
  position: relative;
}

figure:hover {
    -webkit-transform: rotate(-10deg); -moz-transform: rotate(10deg);
}

figure:focus {
    outline: none;
    -webkit-transform: rotate(-3deg) scale(2.5); -moz-transform: rotate(-3deg) scale(2.5);
    -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
    z-index: 9999;
}
.iframe-class-video {
    padding: 0;
    width: 89%;
    margin: 36px;
    position:static;
    display: inline;
}
.iframe-class-map {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    width: 100%;
    hight: 900px;
    margin: 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.info-table {
    padding: 0 80px;
}

.article-title {
    background-color:  #ecf2f9;
    border-radius: 15px;
}

.article-title a{
    text-decoration: none;
    color: #8942f4;
}

.article-body{
    background-color:  #eaebed;
    border-radius: 15px;   
}

.article-body a{
    text-decoration: none;
    color: #8942f4;
}